<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	  <nav>
  		<a href="/">Home</a>
  	</nav>
    <h1><%= title %></h1>
    <p> Autor: Estiven Gan Zhou</p>
     <img src="/images/foto.png" alt="Foto de Estiven"> 
  </body>
  <footer>
  	  		<a href="https://github.com/estjol/PQuiz">Github</a>
  </footer>
</html>
